$color-primary: #179344; 
$color-secondary: #007733; 
$color-text: #333333; 
$color-text-light: #666666;
$color-light-background: #F8F8F8;
$color-border: #EEEEEE; 

$font-family-sans: 'Inter', sans-serif;

$sm: 640px;
$md: 768px;
$lg: 1024px;