// Cores (Ajustadas para o visual LEO/Revvo)
$color-primary: #179344; // Um verde mais escuro, semelhante ao botão
$color-secondary: #007733; // Verde hover
$color-text: #333333; // Cinza escuro para texto
$color-text-light: #666666; // Cinza para descrição
$color-light-background: #F8F8F8; // Fundo do body
$color-border: #EEEEEE; // Linhas finas

// Fontes
$font-family-sans: 'Inter', sans-serif;

// Tamanhos de tela (breakpoints)
$sm: 640px;
$md: 768px;
$lg: 1024px;