@use '../../variables' as var;

.container-wide {
  width: 100%;
  padding-inline: clamp(1rem, 4vw, 3rem);
  margin-block: clamp(1rem, 4vw, 3rem);
}


.course-section-title {
  font-size: 1.75rem;
  font-weight: 700;
  color: #626262;
  text-transform: uppercase;
  margin: 0 0 .75rem;
}

.course-section-title + .separator {
  height: 1px;
  background: var.$color-border;
  margin-bottom: 1rem;
}

.course-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;

  @media (min-width: var.$sm) { grid-template-columns: repeat(2, 1fr); }
  @media (min-width: var.$md) { grid-template-columns: repeat(3, 1fr); }
  @media (min-width: var.$lg) { grid-template-columns: repeat(4, 1fr); }
}
