
@use '../../variables' as var;
/* Layout da Seção de Cursos */
.course-section-title {
    font-size: 1.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    color: var.$color-text;
    text-transform: uppercase;
}

.course-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 1.5rem;
    
    @media (min-width: var.$sm) {
        grid-template-columns: repeat(2, 1fr); 
    }

    @media (min-width: var.$md) {
        grid-template-columns: repeat(3, 1fr); 
    }

    @media (min-width: var.$lg) {
        grid-template-columns: repeat(4, 1fr); 
    }
}